body {
  margin:0px;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
  position:relative;
  left:-295px;
  width:559px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:180px;
  width:559px;
  height:172px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:365px;
  height:36px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:359px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:355px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:118px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:112px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:96px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:118px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:112px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:96px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:365px;
  height:118px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:359px;
  height:112px;
  text-align:left;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:355px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:142px;
  width:100px;
  height:30px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:142px;
  width:100px;
  height:30px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:365px;
  height:36px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:142px;
  width:359px;
  height:30px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:fixed;
  right:10px;
  top:50%;
  margin-top:-25px;
}
#u25_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-image:none;
}
#u25_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:54px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
